.btn {
  border-radius: 9999px;
  padding: 18px 46px;
  min-width: 150px;

  @media (max-width: 991px) {
    padding: 4px 5px 2px;
  }
}

.addiko-btn-info {
  border-radius: 50%;
  background-color: #002d4b;
  border: none;
  height: 20px;
  vertical-align: middle;
  width: 20px;
  padding: 0;
  margin-left: 15px;

  img {
    height: 13px;
    display: table;
    margin: 0 auto;
    color: #fff;
  }
}

.addiko-button {
  background-color: $blue;
  text-decoration: none;
  color: #fff;
  position: relative;
  max-width: 100%;
  border: none;

  &:hover {
    color: #fff;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .addiko-button {
    font-size: 14px;
  }

  .addiko-btn-info {
    margin-left: 5px;
  }
}