.calculator {
  p {
    font-size: 18px;
  }

  .text-input {
    color: $blue;
    border-radius: 4px;
    font-size: 32px;
    height: 45px;
    line-height: 1;
    border: none;
    max-width: 170px;
    width: calc(40% - 16px);
    background-color: #fff;
  }

  .amount-fcl-txt {
    color: $blue;
    border-radius: 4px;
    font-size: 32px;
    height: 45px;
    line-height: 1;
    border: none;
    max-width: 170px;
    width: calc(40% - 16px);
    background-color: #fff;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }

  .range-input {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border: none;
    width: 60%;
  }

  input[type=range]::-webkit-slider-thumb {
    background: $blue;
    cursor: pointer;
    border: 1px solid $blue;
  }

  input[type=range]::-moz-range-thumb {
    background: $blue;
    cursor: pointer;
    border: 1px solid $blue;
  }

  .result {
    font-size: 36px;

    span {
      font-weight: bold;
    }
  }
}

.nav-tabs {
  border: none;
}

#nav-tab-calc {
  .nav-item.active {
    background-color: #002d4b;
    color: #fff;
    border-radius: 0;
    //font-size: 22px !important;
    //font-weight: bold;
    border: none;
    position: relative;

    &::after {
      border-bottom: 12px solid #fff;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: 0;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: 100;
    }

    .addiko-btn-info {
      background-color: $pink;
    }
  }

  .nav-link {
    transform: translateY(-1px);
    color: #fff;
    font-size: 20px;
    border: none;

    &:hover {
      border: none;
    }
  }
}

#payment-fcl, #payment-2u1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

#payment-fcl::before, #payment-2u1::before {
  content: "Rata: ";
  font-weight: normal;
}

#payment-fcl::after, #payment-2u1::after {
  content: " €";
}

@media (max-width: 767px) {
  .calculator {
    .amount-fcl-txt {
      max-width: 100%;
      margin-bottom: 30px;
    }

    .range-input {
      width: 100%;
      margin-top: 10px;
    }
  }

  #nav-tab-calc {

    .nav-link {
      font-size: 14px;
    }

    .nav-item.active {
      font-size: 14px !important;

      &::after {
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #nav-tab-calc {
    left: calc(-15px - 10px);
    width: 50vw;

    .nav-link {
      font-size: 16px !important;

      &.active {
        font-size: 16px !important;

        &::after {
          border-bottom: 10px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }
    }
  }
}
