@font-face {
  font-family: 'Charlie Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/charliepro-light.woff2") format("woff2"), url("../fonts/charliepro-light.woff") format("woff"), url("../fonts/charliepro-light.eot") format("embedded-opentype"), url("../fonts/charliepro-light.otf") format("opentype"), url("../fonts/charliepro-light.svg") format("svg"), url("../fonts/charliepro-light.ttf") format("truetype"); }

@font-face {
  font-family: 'Charlie Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/charliepro-regular.woff2") format("woff2"), url("../fonts/charliepro-regular.woff") format("woff"), url("../fonts/charliepro-regular.eot") format("embedded-opentype"), url("../fonts/charliepro-regular.otf") format("opentype"), url("../fonts/charliepro-regular.svg") format("svg"), url("../fonts/charliepro-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Charlie Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/charliepro-medium.woff2") format("woff2"), url("../fonts/charliepro-medium.woff") format("woff"), url("../fonts/charliepro-medium.eot") format("embedded-opentype"), url("../fonts/charliepro-medium.otf") format("opentype"), url("../fonts/charliepro-medium.svg") format("svg"), url("../fonts/charliepro-medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Charlie Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/charliepro-semibold.woff2") format("woff2"), url("../fonts/charliepro-semibold.woff") format("woff"), url("../fonts/charliepro-semibold.eot") format("embedded-opentype"), url("../fonts/charliepro-semibold.otf") format("opentype"), url("../fonts/charliepro-semibold.svg") format("svg"), url("../fonts/charliepro-semibold.ttf") format("truetype"); }