.form-content {
  padding: 15px 0;

  h2 {
    color: $pink;
  }

  label {
    color: $pink;
    cursor: pointer;
    font-size: 14px;

    &::before {
      background-color: transparent;
      border: 1px solid $pink;
      border-radius: 0 !important;
    }
  }

  .form-group {
    position: relative;
    margin-bottom: 2rem;

    .invalid-feedback {
      position: absolute;
    }

    select {
      width: 100%;
    }

    .select2-selection {
      width: 100%;
      height: 32px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $blue;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 0;

      &::-ms-expand {
        display: none;
      }
    }

    .select2-selection__rendered {
      color: $blue;
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: transparent;
    border-color: $pink;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff4d5a' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }

  #submit-button {
    font-size: 20px;
    padding: 16px 50px;
    text-transform: none !important;
    
    @media (max-width: 767px) {
      font-size: 16px;
      padding: 16px;
      display: table;
      margin: 0 auto;
    }
  }
}

.addiko-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $blue;
  border-radius: 0;
  color: $blue;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 5px 10px;

  &::placeholder {
    color: $blue;
  }

  &:focus {
    border-color: $blue;
    box-shadow: none;
    color: $pink;
  }
}

.invalid-feedback {
  color: $blue;
  display: block;
}

.form-control.is-invalid {
  background-image: none;
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.sms-verify {
  width: auto;
  text-align: center;
  font-size: 48px;
  max-width: 200px;
}

.sms-form {
  img {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

.jconfirm-box.jconfirm-hilight-shake.jconfirm-type-default.jconfirm-type-animated {
  color: $pink;
}

.jconfirm-buttons {
  button {
    color: $pink;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  outline: 0 none transparent;
  border: 0 none transparent;
  padding: 0 !important;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  outline: 0 none transparent;
  border: 0 none transparent;
  padding: 0 !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 0 none transparent;
  border: 0 none transparent;
  border-radius: 50%;
  background: #002d4b;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #002d4b;
  outline: 0 none transparent;
  border: 0 none transparent;
  cursor: pointer;
}

.select2-results__option {
  color: #fff;
  background-color: $pink !important;
}

.select2-results__option {

  &:hover {
    background-color: #fff !important;
    color: $pink !important;
  }
}

.truncate_text {
  line-height: 180%;
}

.invalid-feedback {
  margin-top: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.invalid-feedback {
  color: $pink;
}