* {
  outline: none;
}

.mw-550 {
  max-width: 550px;

  @media (max-width: 767px) {
    max-width: none;
  }
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "Charlie Pro", sans-serif;
}

.main {
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}


button:focus {
  outline: none;
}

.my-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.margin-auto {
  //margin: 0 auto;
}

p {
  color: $blue;
}

.color-red {
  color: $pink;
}