.header {
  z-index: 1;
}

@media (max-width: 767px) {
  .header {
    position: relative !important;
    background-color: $pink;
    width: 100% !important;
    padding: 10px !important;

    .container {
      margin-left: initial;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-top: 20px !important;
    padding-left: 10px !important;
  }
}