.left-side {
  background-color: $pink;

  .left-side-content {
    top: 25%;
  }

  .header-border {
    height: 20px;
    background-color: #fff;
    right: -15px;
    left: calc(-15px - 48px);

    &::after {
      content: " ";
      position: absolute;
      height: 100%;
      left: 100%;
      top: 0;
      background-color: #ff4d5a;
      z-index: 1;
      width: 100%;
    }
  }

  .calculator-result {
    a {
      color: #fff;
    }
  }
}

#nav-tab-calc {
  position: relative;
  left: calc(-15px - 48px);
  width: 50vw;
}

@media (max-width: 767px) {
  .left-side {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: auto !important;

    .left-side-content {
      top: 0;
      padding: 10px !important;
    }

    .header-border {
      left: calc(-15px - 10px);
      right: -25px;
    }
  }

  #nav-tab-calc {
    left: calc(-15px - 10px);
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .left-side {
    .left-side-content {
      top: 15%;
      padding-left: 10px !important;
    }

    .header-border {
      left: calc(-15px - 10px);
    }
  }
}

@media (min-width: 1024px) and (max-width: 1599px) {
  .left-side {
    .left-side-content {
      top: 20%;
    }
  }
}