.modal-content {
  color: $blue;
  border: 5px solid $blue;
  border-radius: 0;

  a {
    color: $pink;
  }
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  .btn {
    padding: 8px 40px;
  }
}