.regards-content {
  color: $pink;

  h2 {
    color: #fff;
    background-color: $pink;
    padding: 10px 20px;
    margin-bottom: 0;
  }

  .regards-content-inner {
    text-align: left;
    padding: 10px;
    color: $blue;
    background-color: $pink;
  }
}