.right-side {
  overflow: hidden;

  .right-side-content {
    top: 25%;
  }

  .content-header {
    h2 {
      color: $blue;
    }

    h5 {
      font-size: 16px;
      color: $pink;
    }
  }

  table {
    color: $blue;
    width: 100%;

    tr {
      border-bottom: 1px solid $blue;
    }

    td {
      padding: 5px 0;
    }

    #calc-ex-fcl-amount,
    #calc-ex-2u1-amount {
      font-weight: bold;
    }
  }

  .right-side-info {
    p {
      color: $blue;
    }
  }
}

@media (max-width: 767px) {
  .right-side {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: auto !important;

    .right-side-content {
      top: 0;
      padding: 10px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .right-side {
    .right-side-content {
      top: 15%;
      padding-left: 10px !important;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1599px) {
  .right-side {
    .right-side-content {
      top: 20%;
    }
  }
}