<div class="modal fade" id="info-o-blic" tabindex="-1" role="dialog" aria-labelledby="personal-data-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personal-data-modal-label">Super keš kredit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Super keš kredit
                <ul>
                    <li>Odobrenje kredita u roku od pola sata!</li>
                    <li>Bez obaveze prenosa zarade</li>
                    <li>Odobrenje kredita samo uz ličnu kartu</li>
                    <li>Iznos kredita: 500€ – 3.000 €</li>
                    <li>Period otplate kredita: od 1 do 5 godina</li>
                    <li>Mogućnost osiguranja od nezaposlenosti, invaliditeta, bolovanja i smrti usljed posljedica
                        nesrećnog slučaja
                    </li>
                    <li>Gotovinski kredit sa uvijek istom ratom!</li>
                    <li>Fiksna kamatna stopa – fiksna rata kredita</li>
                    <li>Nominalna kamatna stopa 14,99% (EKS od 18,83%)</li>
                    <li>Jednokratna naknada za obradu kredita: 5% (min. 30€)</li>
                </ul>
            </div>
        </div>
    </div>
</div>