<div class="modal fade" id="general-consent-modal" tabindex="-1" role="dialog" aria-labelledby="terms-modal-label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Obavještenje o obradi podatka o ličnosti</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Addiko Bank a.d. Podgorica (u daljem tekstu: Banka), kao rukovalac podataka o ličnosti, podatke o mojoj
          ličnosti potrebne za ostvarivanje poslovne saradnje obrađuje, čuva i štiti u skladu sa Zakonom o zaštiti
          podataka o ličnosti i internim aktima Banke.
        </p>
        <p>
          Banka obrađuje podatke o ličnosti u svrhu uspostavljanja poslovnog odnosa, za izvršenje ugovora zaključenog sa
          licem na koje se podaci odnose ili za preduzimanje radnji, na zahtjev lica na koje se podaci odnose, pre
          zaključenja ugovora, i/ili jer je lice na koje se podaci o ličnosti odnose pristalo na obradu svojih podataka
          o ličnosti za jednu ili više posebno određenih svrha.
        </p>
        <p>
          Detaljnije informacije o načinu obrade podataka o ličnosti, podaci o rukovaocu podataka i informacije o licu
          zaduženom za zaštitu podataka, sadržane su u dokumentu »Opšti uslovi o zaštiti podataka o ličnosti« koji je
          dostupan na linku: <a href="https://www.addiko.me/zastita-licnih-podataka/" target="_blank">https://www.addiko.me/zastita-licnih-podataka/</a>.
        </p>

        <h4>Saglasnost da banka može uputiti dodatne informacije</h4>
        <p>
          Upoznat/a sam i saglasan/a da se sva komunikacija između mene i Banke po ovom zahtjevu vrši elektronskim putem
          – putem e-mail adrese kako je navedeno na ovom zahtjevu.
        </p>
        <p>
          Dajem izričitu saglasnost da Banka može dostavljati elektronskim putem informacije o svim proizvodima i
          uslugama Banke, ponude i reklamni materijal Banke i sve druge marketing usluge Banke ( pozive za nagradnu igru
          i kviz Banke, čestitke i druge marketinške aktivnosti Banke) prilikom uspostavljanja poslovnog odnosa i tokom
          trajanja poslovne saradnje.
        </p>
        <p>
          Data saglasnost se može opozvati u svakom trenutku, sa pravnim dejstvom od momenta povlačenja saglasnosti.
        </p>
        <p>
          Podaci o ličnosti se čuvaju do ispunjenja svrhe i osnova obrade podataka, odnosno podaci će se obrađivati
          tokom cjelokupnog perioda uspostavljanja poslovne saradnje i tokom trajanja poslovne saradnje u skladu sa
          zakonskom obavezom čuvanja podataka.
        </p>



      </div>

      <div class="modal-footer">
        <button type="button" class="btn addiko-button" data-dismiss="modal" id="btn-general-consent-yes">PRISTAJEM</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-general-consent-no">NE PRISTAJEM</button>
      </div>
    </div>
  </div>
</div>