<div class="modal fade" id="info-o-2u1" tabindex="-1" role="dialog" aria-labelledby="personal-data-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personal-data-modal-label">Keš kredit „2 u 1“</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Keš kredit kojim možete zatvoriti obaveze u drugim bankama, uz mogućnost dobijanja dodatnog keša.</p>
                <ul>
                    <li>Iznos kredita: 1.000€ – 30.000€</li>
                    <li>Period otplate kredita: 1 – 6 godina</li>
                    <li>Bez žiranata/hipoteke</li>
                    <li>Nominalna kamatna stopa: počev od 6,99%</li>
                    <li>Naknada za obradu kredita: od 1,25%</li>
                    <li>Efektivna kamatna stopa: od 7,70%</li>
                    <li>Mogućnost osiguranja od nezaposlenosti, invaliditeta, bolovanja i smrti usljed posljedica
                        nesrećnog slučaja
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>