<div class="modal fade" id="kreditni-biro-consent-modal" tabindex="-1" role="dialog"
     aria-labelledby="personal-data-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Obavještenje o obradi podatka o ličnosti</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Addiko Bank a.d. Podgorica (u daljem tekstu: Banka), kao rukovalac podataka o ličnosti, podatke o mojoj
          ličnosti potrebne za ostvarivanje poslovne saradnje obrađuje, čuva i štiti u skladu sa Zakonom o zaštiti
          podataka o ličnosti i internim aktima Banke.
        </p>
        <p>
          Banka obrađuje podatke o ličnosti u svrhu uspostavljanja poslovnog odnosa, za izvršenje ugovora zaključenog sa
          licem na koje se podaci odnose ili za preduzimanje radnji, na zahtjev lica na koje se podaci odnose, pre
          zaključenja ugovora, i/ili jer je lice na koje se podaci o ličnosti odnose pristalo na obradu svojih podataka
          o ličnosti za jednu ili više posebno određenih svrha.
        </p>
        <p>
          Detaljnije informacije o načinu obrade podataka o ličnosti, podaci o rukovaocu podataka i informacije o licu
          zaduženom za zaštitu podataka, sadržane su u dokumentu »Opšti uslovi o zaštiti podataka o ličnosti« koji je
          dostupan na linku: <a href="https://www.addiko.me/zastita-licnih-podataka/" target="_blank">https://www.addiko.me/zastita-licnih-podataka/</a>.
        </p>

        <h4>Saglasnost za povlačenje izveštaja kreditnog biroa</h4>

        <p>
          Upoznat sam i saglasan/a da Addiko Bank a.d. Podgorica za svrhu donošenja Odluke o pružanju usluge
          kreditiranja,  kao  i  svrhu  izrade  ponude  za uspostavljanje eventualnog kreditno-ugovornog odnosa,
          pribavi od Kreditnog biroa izveštaj sa podacima o mojim obavezama i o dosadašnjem načinu izmirivanja tih obaveza.
        </p>
        <p>
          Ova saglasnost se daje za preuzimanje izveštaja za svrhu donošenja Odluke o pružanju usluge kreditiranja od
          strane Banke, kao i za mogućnost preuzimanja naknadnih izveštaja od Kreditnog biroa u toku njegovog trajanja.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn addiko-button" data-dismiss="modal" id="btn-kreditni-biro-consent-yes">PRISTAJEM</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-kreditni-biro-consent-no">NE PRISTAJEM</button>
      </div>
    </div>
  </div>
</div>