@charset "UTF-8";
@font-face {
  font-family: "Charlie Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/charliepro-light.woff2") format("woff2"), url("../fonts/charliepro-light.woff") format("woff"), url("../fonts/charliepro-light.eot") format("embedded-opentype"), url("../fonts/charliepro-light.otf") format("opentype"), url("../fonts/charliepro-light.svg") format("svg"), url("../fonts/charliepro-light.ttf") format("truetype");
}
@font-face {
  font-family: "Charlie Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/charliepro-regular.woff2") format("woff2"), url("../fonts/charliepro-regular.woff") format("woff"), url("../fonts/charliepro-regular.eot") format("embedded-opentype"), url("../fonts/charliepro-regular.otf") format("opentype"), url("../fonts/charliepro-regular.svg") format("svg"), url("../fonts/charliepro-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Charlie Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/charliepro-medium.woff2") format("woff2"), url("../fonts/charliepro-medium.woff") format("woff"), url("../fonts/charliepro-medium.eot") format("embedded-opentype"), url("../fonts/charliepro-medium.otf") format("opentype"), url("../fonts/charliepro-medium.svg") format("svg"), url("../fonts/charliepro-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Charlie Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/charliepro-semibold.woff2") format("woff2"), url("../fonts/charliepro-semibold.woff") format("woff"), url("../fonts/charliepro-semibold.eot") format("embedded-opentype"), url("../fonts/charliepro-semibold.otf") format("opentype"), url("../fonts/charliepro-semibold.svg") format("svg"), url("../fonts/charliepro-semibold.ttf") format("truetype");
}
* {
  outline: none;
}

.mw-550 {
  max-width: 550px;
}
@media (max-width: 767px) {
  .mw-550 {
    max-width: none;
  }
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "Charlie Pro", sans-serif;
}

.main {
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.my-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  z-index: 1;
}

@media (max-width: 767px) {
  .header {
    position: relative !important;
    background-color: #ff4d5a;
    width: 100% !important;
    padding: 10px !important;
  }
  .header .container {
    margin-left: initial;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-top: 20px !important;
    padding-left: 10px !important;
  }
}
.left-side {
  background-color: #ff4d5a;
}
.left-side .left-side-content {
  top: 25%;
}
.left-side .header-border {
  height: 20px;
  background-color: #fff;
  right: -15px;
  left: calc(-15px - 48px);
}
.left-side .header-border::after {
  content: " ";
  position: absolute;
  height: 100%;
  left: 100%;
  top: 0;
  background-color: #ff4d5a;
  z-index: 1;
  width: 100%;
}
.left-side .calculator-result a {
  color: #fff;
}

#nav-tab-calc {
  position: relative;
  left: calc(-15px - 48px);
  width: 50vw;
}

@media (max-width: 767px) {
  .left-side {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: auto !important;
  }
  .left-side .left-side-content {
    top: 0;
    padding: 10px !important;
  }
  .left-side .header-border {
    left: calc(-15px - 10px);
    right: -25px;
  }

  #nav-tab-calc {
    left: calc(-15px - 10px);
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .left-side .left-side-content {
    top: 15%;
    padding-left: 10px !important;
  }
  .left-side .header-border {
    left: calc(-15px - 10px);
  }
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .left-side .left-side-content {
    top: 20%;
  }
}
.right-side {
  overflow: hidden;
}
.right-side .right-side-content {
  top: 25%;
}
.right-side .content-header h2 {
  color: #002d4b;
}
.right-side .content-header h5 {
  font-size: 16px;
  color: #ff4d5a;
}
.right-side table {
  color: #002d4b;
  width: 100%;
}
.right-side table tr {
  border-bottom: 1px solid #002d4b;
}
.right-side table td {
  padding: 5px 0;
}
.right-side table #calc-ex-fcl-amount,
.right-side table #calc-ex-2u1-amount {
  font-weight: bold;
}
.right-side .right-side-info p {
  color: #002d4b;
}

@media (max-width: 767px) {
  .right-side {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: auto !important;
  }
  .right-side .right-side-content {
    top: 0;
    padding: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .right-side .right-side-content {
    top: 15%;
    padding-left: 10px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .right-side .right-side-content {
    top: 20%;
  }
}
.modal-content {
  color: #002d4b;
  border: 5px solid #002d4b;
  border-radius: 0;
}
.modal-content a {
  color: #ff4d5a;
}

.modal-header {
  border-bottom: none;
}

.btn {
  border-radius: 9999px;
  padding: 18px 46px;
  min-width: 150px;
}
@media (max-width: 991px) {
  .btn {
    padding: 4px 5px 2px;
  }
}

.addiko-btn-info {
  border-radius: 50%;
  background-color: #002d4b;
  border: none;
  height: 20px;
  vertical-align: middle;
  width: 20px;
  padding: 0;
  margin-left: 15px;
}
.addiko-btn-info img {
  height: 13px;
  display: table;
  margin: 0 auto;
  color: #fff;
}

.addiko-button {
  background-color: #002d4b;
  text-decoration: none;
  color: #fff;
  position: relative;
  max-width: 100%;
  border: none;
}
.addiko-button:hover {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .addiko-button {
    font-size: 14px;
  }

  .addiko-btn-info {
    margin-left: 5px;
  }
}
.calculator p {
  font-size: 18px;
}
.calculator .text-input {
  color: #002d4b;
  border-radius: 4px;
  font-size: 32px;
  height: 45px;
  line-height: 1;
  border: none;
  max-width: 170px;
  width: calc(40% - 16px);
  background-color: #fff;
}
.calculator .amount-fcl-txt {
  color: #002d4b;
  border-radius: 4px;
  font-size: 32px;
  height: 45px;
  line-height: 1;
  border: none;
  max-width: 170px;
  width: calc(40% - 16px);
  background-color: #fff;
}
.calculator input::-webkit-outer-spin-button,
.calculator input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.calculator input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
.calculator .range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: none;
  width: 60%;
}
.calculator input[type=range]::-webkit-slider-thumb {
  background: #002d4b;
  cursor: pointer;
  border: 1px solid #002d4b;
}
.calculator input[type=range]::-moz-range-thumb {
  background: #002d4b;
  cursor: pointer;
  border: 1px solid #002d4b;
}
.calculator .result {
  font-size: 36px;
}
.calculator .result span {
  font-weight: bold;
}

.nav-tabs {
  border: none;
}

#nav-tab-calc .nav-item.active {
  background-color: #002d4b;
  color: #fff;
  border-radius: 0;
  font-size: 22px !important;
  font-weight: bold;
  border: none;
  position: relative;
}
#nav-tab-calc .nav-item.active::after {
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
}
#nav-tab-calc .nav-item.active .addiko-btn-info {
  background-color: #ff4d5a;
}
#nav-tab-calc .nav-link {
  transform: translateY(-1px);
  color: #fff;
  font-size: 20px;
  border: none;
}
#nav-tab-calc .nav-link:hover {
  border: none;
}

#payment-fcl, #payment-2u1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

#payment-fcl::before, #payment-2u1::before {
  content: "Rata: ";
  font-weight: normal;
}

#payment-fcl::after, #payment-2u1::after {
  content: " €";
}

@media (max-width: 767px) {
  .calculator .amount-fcl-txt {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .calculator .range-input {
    width: 100%;
    margin-top: 10px;
  }

  #nav-tab-calc .nav-link {
    font-size: 14px;
  }
  #nav-tab-calc .nav-item.active {
    font-size: 14px !important;
  }
  #nav-tab-calc .nav-item.active::after {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #nav-tab-calc {
    left: calc(-15px - 10px);
    width: 50vw;
  }
  #nav-tab-calc .nav-link {
    font-size: 16px !important;
  }
  #nav-tab-calc .nav-link.active {
    font-size: 16px !important;
  }
  #nav-tab-calc .nav-link.active::after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
.form-content {
  padding: 15px 0;
}
.form-content h2 {
  color: #ff4d5a;
}
.form-content label {
  color: #ff4d5a;
  cursor: pointer;
  font-size: 14px;
}
.form-content label::before {
  background-color: transparent;
  border: 1px solid #ff4d5a;
  border-radius: 0 !important;
}
.form-content .form-group {
  position: relative;
  margin-bottom: 2rem;
}
.form-content .form-group .invalid-feedback {
  position: absolute;
}
.form-content .form-group select {
  width: 100%;
}
.form-content .form-group .select2-selection {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #002d4b;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
.form-content .form-group .select2-selection::-ms-expand {
  display: none;
}
.form-content .form-group .select2-selection__rendered {
  color: #ff4d5a;
}
.form-content .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
  border-color: #ff4d5a;
}
.form-content .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23ff4d5a' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.form-content #submit-button {
  font-size: 20px;
  padding: 16px 50px;
  text-transform: none !important;
}
@media (max-width: 767px) {
  .form-content #submit-button {
    font-size: 16px;
    padding: 16px;
    display: table;
    margin: 0 auto;
  }
}

.addiko-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #002d4b;
  border-radius: 0;
  color: #ff4d5a;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 5px 10px;
}
.addiko-input::placeholder {
  color: #ff4d5a;
}
.addiko-input:focus {
  border-color: #002d4b;
  box-shadow: none;
  color: #ff4d5a;
}

.invalid-feedback {
  color: #002d4b;
  display: block;
}

.form-control.is-invalid {
  background-image: none;
  padding: 0;
}
.form-control.is-invalid:focus {
  box-shadow: none;
}

.sms-verify {
  width: auto;
  text-align: center;
  font-size: 48px;
  max-width: 200px;
}

.sms-form img {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.jconfirm-box.jconfirm-hilight-shake.jconfirm-type-default.jconfirm-type-animated {
  color: #ff4d5a;
}

.jconfirm-buttons button {
  color: #ff4d5a;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  outline: 0 none transparent;
  border: 0 none transparent;
  padding: 0 !important;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  outline: 0 none transparent;
  border: 0 none transparent;
  padding: 0 !important;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 0 none transparent;
  border: 0 none transparent;
  border-radius: 50%;
  background: #002d4b;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #002d4b;
  outline: 0 none transparent;
  border: 0 none transparent;
  cursor: pointer;
}

.select2-results__option {
  color: #fff;
  background-color: #ff4d5a !important;
}

.select2-results__option:hover {
  background-color: #fff !important;
  color: #ff4d5a !important;
}

.info-content {
  width: 600px;
  max-width: 100%;
}
.info-content h1 {
  color: #ff4d5a;
  font-size: 60px;
  margin-bottom: 30px;
}
.info-content h2 {
  color: #ff4d5a;
  font-size: 32px;
}

.regards-content {
  color: #ff4d5a;
}
.regards-content h2 {
  color: #fff;
  background-color: #ff4d5a;
  padding: 10px 20px;
  margin-bottom: 0;
}
.regards-content .regards-content-inner {
  text-align: left;
  padding: 10px;
  color: #002d4b;
  background-color: #ff4d5a;
}

/*# sourceMappingURL=style.css.map */
