{% extends "master.twig" %}

{% block body_class %}info{% endblock body_class %}

{% block content %}

  <main class="main info-main min-vh-100 d-flex" id="main" role="main">
    <div class="info-content text-center info-content position-relative m-auto">
      <h2 class="text-center text-uppercase">Vaš zahtjev za kredit je u obradi</h2>
      <p>Uskoro možete očekivati poziv od našeg agenta.</p>
    </div>
  </main>

{% endblock content %}