{% extends "master.twig" %}

{% block body_class %}welcome{% endblock body_class %}

{% block content %}

<header class="header w-50 py-5 pl-5  position-fixed">
  <div class="container">
      <h1>
        <div class="logo">
          <img src="{{ public_url("img/calc-logo.png") }}" alt="addiko-logo">
        </div>
      </h1>
  </div>
</header>

<main class="main calculator-main" id="main" role="main">
  <div class="row">
    <div id="left-side" class="left-side col-md-6 min-vh-100">
      <div class="left-side-content pl-5 position-relative">
        <div class="content-header position-relative">
          <h2 class="mb-4">Kreditni kalkulator</h2>
          <div class="nav nav-tabs" id="nav-tab-calc" role="tablist">
            <a class="nav-item nav-link active w-50" id="nav-fcl-tab" data-toggle="tab" href="#nav-fcl" role="tab" aria-controls="nav-fcl" aria-selected="true">Super keš kredit
              <button type="button" class="addiko-btn-info d-inline" data-toggle="modal" data-target="#info-o-blic"><img alt="i" src="{{ public_url("img/info.png") }}">
              </button>
            </a>
            <a class="nav-item nav-link w-50" id="nav-2u1-tab" data-toggle="tab" href="#nav-2u1" role="tab" aria-controls="nav-2u1" aria-selected="false">Keš kredit „2 u 1“
              <button type="button" class="addiko-btn-info d-inline" data-toggle="modal" data-target="#info-o-2u1"><img alt="i" src="{{ public_url("img/info.png") }}">
              </button>
            </a>
          </div>
          <div class="header-border position-absolute"></div>
        </div>
        <div class="calculator py-5 mw-550 tab-content">
          <div id="nav-fcl" class="tab-pane fade show active" novalidate="" role="tabpanel" aria-labelledby="nav-fcl-tab">
            <div class="amount mb-5">
              <p>Iznos kredita (€)</p>
              <div class="amount-inputs flex-wrap d-flex align-items-center">
                <input type="text" id="amount-fcl-txt" class="js-amount textual-input text-input p-2 text-input-amount addiko-input-number mr-3" data-type="fcl" value="15.000" maxlength="7" autocomplete="off">
                <input type="range" id="amount-fcl" class="range-input js-amount range-input-amount" name="amount-fcl" data-type="fcl" value="2000" min="1000" max="7000">
              </div>
            </div>
            <div class="period mb-5">
              <p>Period otplate (br. mjeseci)</p>
              <div class="period-inputs flex-wrap d-flex align-items-center">
                <div id="deadline-fcl-txt" class="text-input p-2 text-input-period mr-3 js-deadline js-div" data-type="fcl">72</div>
                <input type="range" id="deadline-fcl" class="js-deadline range-input range-input-period" name="deadline-fcl" data-type="fcl" value="60" min="12" max="60">
              </div>
            </div>
            <div class="calculator-result text-center mw-550">
              <div id="total-fcl" class="col-md-4 d-none js-total" data-type="fcl">19.202,51</div>
              <div id="payment-fcl" class="col-12 text-center js-annuity" data-type="fcl">262,93</div>
              <p>Kalkulator je informativnog karaktera.</p>
              <a href="https://www.addiko.me/gradjani/krediti/blic-gotovinski-kredit-0/" target="_blank">Saznajte više</a>
{#              <div id="user-interaction-fcl" data-interaction="0" hidden></div>#}
            </div>
          </div>
          <div id="nav-2u1" class="tab-pane fade" novalidate="" role="tabpanel" aria-labelledby="nav-2u1-tab">
            <div class="amount mb-5">
              <p>Iznos kredita (€)</p>
              <div class="amount-inputs flex-wrap d-flex align-items-center">
                <input type="text" id="amount-2u1-txt" class="js-amount textual-input text-input p-2 text-input-amount addiko-input-number mr-3" data-type="2u1" value="5.000" maxlength="7" autocomplete="off">
                <input type="range" id="amount-2u1" class="range-input js-amount range-input-amount" name="amount-2u1" data-type="2u1" value="5000" min="1000" max="30000">
              </div>
            </div>
            <div class="period mb-5">
              <p>Period otplate (br. mjeseci)</p>
              <div class="period-inputs flex-wrap d-flex align-items-center">
                <div id="deadline-2u1-txt" class="text-input p-2 text-input-period mr-3 js-deadline js-div" data-type="2u1">60</div>
                <input type="range" id="deadline-2u1" class="js-deadline range-input range-input-period" name="deadline-2u1" data-type="2u1" value="60" min="12" max="72" step="6">
              </div>
            </div>
            <div class="calculator-result text-center mw-550">
              <div id="total-2u1" class="col-md-4 d-none js-total" data-type="2u1">6.698,29</div>
              <div id="payment-2u1" class="col-12 text-center js-annuity" data-type="2u1">109,94</div>
              <p>Kalkulator je informativnog karaktera.</p>
              <a href="https://www.addiko.me/gradjani/krediti/kes-kredit-2-u-1/" target="_blank">Saznajte više</a>
{#              <div id="user-interaction-2u1" data-interaction="0" hidden></div>#}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="calc-ex" class="right-side col-md-6 min-vh-100">
      <div class="pl-5 right-side-content position-relative">
        <div class="content-header position-relative">
          <h2 class="mb-4">Informacije o kreditu</h2>
          <div class="header-info d-flex">
            <h5 class="mr-3 mb-4">Nakon prihvatanja informativne ponude, prijavite se za poziv Addiko kontakt centra</h5>
          </div>
        </div>
        <div class="height-calc-ex py-5 mw-550 margin-auto">
          <table id="calc-ex-fcl">
            <tbody>
            <tr>
              <td>Iznos kredita</td>
              <td width="130"><span id="calc-ex-fcl-amount" class="js-amount js-div" data-type="fcl">15.000</span> €</td>
            </tr>
            <tr>
              <td>Rok otplate</td>
              <td><span id="calc-ex-fcl-deadline" class="js-deadline js-div" data-type="fcl">72</span> mjeseci</td>
            </tr>
            <tr>
              <td>Mjesečna rata</td>
              <td><span id="calc-ex-fcl-payment" class="js-annuity js-div" data-type="fcl">262,93</span> €</td>
            </tr>
            <tr>
              <td>Naknada za odobrenje kredita od <span class="js-fee-percent" data-type="fcl">1.25</span>%</td>
              <td><span id="calc-ex-fcl-fee" class="js-fee js-div" data-type="fcl">100</span> €</td>
            </tr>
            <tr>
              <td>Trošak mjenice</td>
              <td>2€</td>
            </tr>
            <tr>
              <td>Nominalna kamatna stopa</td>
              <td><span id="calc-ex-fcl-interest" class="js-interest js-div" data-type="fcl">7,99</span>%</td>
            </tr>
            <tr>
              <td>Ukupno za otplatu (glavnica + kamata)</td>
              <td><span id="calc-ex-fcl-total" class="js-total js-div" data-type="fcl">19.202,51</span> €</td>
            </tr>
            </tbody>
          </table>


          <table id="calc-ex-2u1" class="d-none fade">
            <tbody>
            <tr>
              <td>Iznos kredita</td>
              <td width="130"><span id="calc-ex-2u1-amount" class="js-amount js-div" data-type="2u1">5.000</span> €</td>
            </tr>
            <tr>
              <td>Rok otplate</td>
              <td><span id="calc-ex-2u1-deadline" class="js-deadline js-div" data-type="2u1">60</span> mjeseci</td>
            </tr>
            <tr>
              <td>Mjesečna rata</td>
              <td><span id="calc-ex-2u1-payment" class="js-annuity js-div" data-type="2u1">109,94</span> €</td>
            </tr>
            <tr>
              <td>Naknada za odobrenje kredita od <span class="js-fee-percent" data-type="2u1">1.25</span>%</td>
              <td><span id="calc-ex-fcl-fee" class="js-fee js-div" data-type="2u1">100</span> €</td>
            </tr>
            <tr>
              <td>Trošak mjenice</td>
              <td>2€</td>
            </tr>
            <tr>
              <td>Nominalna kamatna stopa</td>
              <td><span id="calc-ex-2u1-interest" class="js-interest js-div" data-type="2u1">11,49</span>%</td>
            </tr>
            <tr>
              <td>Ukupno za otplatu (glavnica + kamata)</td>
              <td><span id="calc-ex-2u1-total" class="js-total js-div" data-type="2u1">6.698,29</span> €</td>
            </tr>
            </tbody>
          </table>
          <form id="calculator-form" action="" class="my-5" method="POST" accept-charset="UTF-8">
            <input id="hidden-amount-fcl" name="hidden-amount-fcl" type="hidden" value="15.000">
            <input id="hidden-months-fcl" name="hidden-months-fcl" type="hidden" value="72">
            <input id="hidden-annuity-fcl" name="hidden-annuity-fcl" type="hidden" value="262,93">

            <input id="hidden-amount-2u1" name="hidden-amount-2u1" type="hidden" value="5.000">
            <input id="hidden-months-2u1" name="hidden-months-2u1" type="hidden" value="60">
            <input id="hidden-annuity-2u1" name="hidden-annuity-2u1" type="hidden" value="109,94">

            <input id="hidden-active-calculator" name="hidden-active-calculator" type="hidden" value="">

{#            <input id="hidden-interaction-fcl" name="user-interaction-fcl" type="hidden" value="0">#}
{#            <input id="hidden-interaction-2u1" name="user-interaction-2u1" type="hidden" value="0">#}

            <button id="make-appoitment-calc" class="btn my-4 mx-auto d-table addiko-button text-uppercase font-weight-bold">Prihvatam informativnu ponudu</button>
          </form>
          <div class="right-side-info">
            <p>
              Kalkulator je informativnog karaktera. Za detaljnije informacije pozovite Addiko kontakt centar na:
              <br>
              033 866 666.
              <br>
              Obračun je napravljen pod pretpostavkom da rata kredita dospijeva 30 dana od dana/datuma plasmana kredita.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block modals %}
  {% include 'modals/blic-info.twig' %}
  {% include 'modals/info-2u1.twig' %}
{% endblock modals %}

{% block js_imports %}
  <script src="{{ public_url("js/loan-data.js") }}"></script>
  <script src="{{ public_url("js/calculator.js") }}"></script>
{% endblock js_imports %}

{% block js %}
  <script>
    jQuery(document).ready(function() {
      var calculator = new Calculator(loan_data);
    });

    $('#nav-fcl-tab').click(function() {
      $('#calc-ex-fcl').removeClass('d-none fade');
      $('#calc-ex-2u1').addClass('d-none fade');
    })

    $('#nav-2u1-tab').click(function() {
      $('#calc-ex-fcl').addClass('d-none fade');
      $('#calc-ex-2u1').removeClass('d-none fade');
    })
  </script>

{% endblock js %}

