{% extends "master.twig" %}

{% block body_class %}info{% endblock body_class %}

{% block content %}

  <main class="main info-main min-vh-100 d-flex" id="main" role="main">
    <div class="info-content text-center info-content position-relative m-auto">
      <h1>Hvala</h1>
      <h2 class="text-center">UspeŠno ste završili proces!!!</h2>
    </div>
  </main>

{% endblock content %}