{% extends "master.twig" %}

{% block body_class %}form{% endblock body_class %}

{% block content %}

    <main class="main min-vh-100 form-main d-flex" id="main" role="main">
        <div class="form-content position-relative m-auto">
            <img class="mb-5" src="{{ public_url("img/logo.png") }}" alt="logo">
            <form class="align-middle welcome-form" id="validation-form"
                  method="post" accept-charset="utf-8">

                <h2 class="mt-2 mb-5">Uključite se!</h2>
                {% if ref != "" %}
                    <input type="hidden" name="ref" id="ref" class="d-none invisible" value="{{ ref }}">
                {% endif %}

                <div class="form-group">
                    {#                        <label for="firstname" class="sr-only">Ime</label>#}
                    <input type="text" name="firstname" value="{{ set_value("firstname", '', FALSE) }}"
                           id="firstname"
                           class="form-control addiko-input {% if form_error('firstname') %}is-invalid{% endif %}"
                           placeholder="Ime">
                    {{ form_error('firstname', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group">
                    {#                        <label for="lastname" class="sr-only">Priimek</label>#}
                    <input type="text" name="lastname" value="{{ set_value("lastname", '', FALSE) }}"
                           id="lastname"
                           class="form-control addiko-input {% if form_error('lastname') %}is-invalid{% endif %}"
                           placeholder="Prezime">
                    {{ form_error('lastname', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group">
                    {#                        <label for="lastname" class="sr-only">Priimek</label>#}
                    <input type="number" name="jmbg" value="{{ set_value("jmbg", '', FALSE) }}"
                           id="jmbg"
                           class="form-control addiko-input {% if form_error('jmbg') %}is-invalid{% endif %}"
                           placeholder="JMBG">
                    {{ form_error('jmbg', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group">
                    <input type="email" name="email" value="{{ set_value("email", '', FALSE) }}"
                           id="email"
                           class="form-control addiko-input {% if form_error('email') %}is-invalid{% endif %}"
                           placeholder="E-mail">
                    {{ form_error('email', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group">
                    <input type="tel" name="mobile" value="{{ set_value("mobile", '', FALSE) }}"
                           id="mobile"
                           class="form-control addiko-input-mobile addiko-input {% if form_error('mobile') %}is-invalid{% endif %}"
                           placeholder="Mobilni telefon">
                    {{ form_error('mobile', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group">
                    <select name="expositure" class="expositure" id="expositure">
                        <option value="0">Izaberite filijalu</option>
                        {% for office in offices %}
                            <option value="{{ office.id }}">{{ office.name }} - {{ office.address }}</option>
                        {% endfor %}
                    </select>
                    {{ form_error('expositure', '<div class="invalid-feedback">', '</div>') | raw }}
                </div>

                <div class="form-group mt-40">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="kreditni-biro-consent" value="1" id="kreditni-biro-consent"
                               class="custom-control-input {% if form_error('kreditni-biro-consent') %}is-invalid{% endif %}"
                                {% if set_value("kreditni-biro-consent", false) %} checked{% endif %}>
                        <label for="kreditni-biro-consent" class="form-check-label custom-control-label"
                               id="kreditni-biro-consent-label">
                            <span class="truncate_text toggle_truncate">
                                Saglasnost za povlačenje izveštaja kreditnog biroa </span>
                        </label>
                        {{ form_error('prize-game-consent', '<div class="invalid-feedback addiko-checkbox-radio-btn-error kreditni-biro-consent-error">', '</div>') | raw }}
                    </div>
                </div>

                <div class="form-group mb-5">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="general-consent" value="1" id="general-consent"
                               class="custom-control-input {% if form_error('general-consent') %}is-invalid{% endif %}"
                                {% if set_value("general-consent", false) %} checked{% endif %}>
                        <label for="general-consent" class="form-check-label custom-control-label"
                               id="general-consent-label">
                            <span class="truncate_text toggle_truncate">Zahtjev/Saglasnost za pristupanje Centralnom registru kredita i korištenje podataka</span>

                        </label>
                        {{ form_error('general-consent', '<div class="invalid-feedback addiko-checkbox-radio-btn-error general-consent-error">', '</div>') | raw }}
                    </div>
                </div>

                <button id="submit-button" class="btn addiko-button text-uppercase mb-4">
                    Pošaljite
                </button>
                <input type="hidden" name="recaptcha" id="recaptcha">
            </form>
        </div>
    </main>

{% endblock content %}

{% block modals %}
    {% include 'modals/general-consent.twig' %}
    {% include 'modals/kreditni-biro-consent.twig' %}
{% endblock modals %}

{% block js_imports %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="{{ public_url("vendor/jquery-confirm.min.js") }}""></script>
    <script src = "{{ public_url("js/form.js") }}" ></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ ADDIKO_RECAPTCHA_SITE_KEY }}"></script>
{% endblock js_imports %}


{% block js %}
    <script>
        ADDIKO_RECAPTCHA_SITE_KEY = "{{ ADDIKO_RECAPTCHA_SITE_KEY }}";

        var recaptcha_error = {{ recaptcha_error }};

        $(document).ready(function () {
            if (recaptcha_error == 1) {
                $.alert({
                    title: 'reCaptcha Error',
                    content: 'Bot detected',

                    buttons: {
                        confirm: {
                            btnClass: "btn-confirm"
                        }
                    }
                });
            }
        });
    </script>
{% endblock js %}
