{% extends "master.twig" %}

{% block body_class %}info{% endblock body_class %}

{% block content %}

  <main class="main info-main min-vh-100 d-flex" id="main" role="main">
    <div class="info-content text-center info-content position-relative m-auto">
      <h2>Hvala što se pokazali interesovanje i ostavili svoje podatke.</h2>
      <p>Uskoro možete očekivati email sa informativnom ponudom, te linkom za verifikaciju Vaše email adrese.
        Klikom na taj link, Banka će smatrati da ste pokrenuli proces, nakon čega možete očekivati poziv od našeg agenta Kontakt centra.</p>

        <p class="color-red">Addiko Bank AD Podgorica</p>
    </div>
  </main>

{% endblock content %}