{% extends "master.twig" %}

{% block body_class %}info{% endblock body_class %}

{% block content %}

  <main class="main info-main min-vh-100 d-flex" id="main" role="main">
    <div class="info-content text-center info-content position-relative m-auto">
      <h2 class="text-center text-uppercase">Link za verifikaciju Vaše email adrese je istekao.</h2>
      <p>Molimo Vas da ponovo popunite zahtjev za online kredit na <a href="https://www.addiko.me">www.addiko.me</a>.</p>
    </div>
  </main>

{% endblock content %}