<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Addiko</title>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ public_url("vendor/jquery-confirm.min.css") }}">
  <link rel="stylesheet" href="{{ public_url("css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ public_url("css/main.css") }}">
</head>
<body class="{% block body_class %}{% endblock body_class %} min-vh-100">

{% block content %}
{% endblock content %}

{% block modals %}
{% endblock modals %}

<script src="{{ public_url("js/popper.min.js") }}"></script>
<script src="{{ public_url("js/jquery-3.3.1.min.js") }}"></script>
<script src="{{ public_url("js/bootstrap.min.js") }}"></script>

{% block js_imports %}
{% endblock js_imports %}

{% block js %}
{% endblock js %}

<script>
  ADDIKO_RECAPTCHA_SITE_KEY = "{{ ADDIKO_RECAPTCHA_SITE_KEY }}";
</script>

</body>
</html>