{% extends "master.twig" %}

{% block body_class %}regards{% endblock body_class %}

{% block content %}

  <main class="main regards-main min-vh-100 d-flex" id="main" role="main">
    <div class="form-content text-center regards-content position-relative m-auto">
      <h2 class="text-center text-uppercase">uspješno ste se prijavili za poziv addiko kontakt centra!</h2>
      <div class="regards-content-inner">
        <p>Poštovani/a,</p>
        <p>hvala Vam na prijavi. Uskoro možete očekivati poyiv iz Addiko Kontakt centra.</p>
        <p>Ukoliko želite, slobodno nas kontaktirajte odmah, na broj Addiko Kontant centra: 033 866 666</p>
      </div>
    </div>
  </main>

{% endblock content %}