{% extends "master.twig" %}

{% block body_class %}info{% endblock body_class %}

{% block content %}

  <main class="main info-main min-vh-100 d-flex" id="main" role="main">
    <div class="info-content text-center info-content position-relative m-auto">

      <p>Hvala što ste pokazali interesovanje za proizvode Addiko banke i ostavili svoje podatke.
        Uskoro možete očekivati poziv od našeg agenta.
      </p>

      <p>Addiko Bank AD Podgorica</p>
    </div>
  </main>

{% endblock content %}