{% extends "master.twig" %}

{% block body_class %}validation{% endblock body_class %}

{% block content %}

<main class="main min-vh-100 d-flex" id="main" role="main">
  <div class="form-content validation-content position-relative m-auto sms-form">
    <img class="mb-5" src="{{ public_url("img/logo.png") }}" alt="logo">
    <form class="align-middle" id="validation-form"
          method="post" accept-charset="utf-8">

      <h2 class="mt-2 mb-5 text-center">Unesite verifikacioni kod iz SMS-a</h2>
      {% if ref != "" %}
        <input type="hidden" name="ref" id="ref" class="d-none invisible" value="{{ ref }}">
      {% endif %}

      <div class="form-group text-center">
        <input type="text" name="otp" value=""
               id="otp"
               class="form-control mx-auto addiko-input addiko-input-number sms-verify {% if form_error('otp') %}is-invalid{% endif %}"
               maxlength="6"/>
        {{ form_error('otp', '<div class="invalid-feedback">', '</div>') | raw }}
      </div>

      <button type="submit" class="btn addiko-button d-table mx-auto sms-validation-button" data-callback="onSubmit">Pošalji
      </button>
    </form>
  </div>
</main>

{% endblock content %}

{% block js_imports %}
  <script src="{{ public_url("js/validation.js") }}"></script>
{% endblock js_imports %}


